</head>

<body class="bg-stone">

  {{!-- <h2>Automatic Slideshow</h2>
  <p>Change image every 2 seconds:</p> --}}

  <div class="slideshow-container bg-stone ">

    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="https://res.cloudinary.com/dm7phzl7a/image/upload/v1679625208/Ca29a8jXEAA7XRK_ygbqn9.jpg"
        style="width:75%">
      
    </div>

    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="https://res.cloudinary.com/dm7phzl7a/image/upload/v1679625208/81KSwdILwIL_dcu4uu.jpg"
        style="width:75%">
      
    </div>

    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="https://res.cloudinary.com/dm7phzl7a/image/upload/v1679625208/51OwMSETOJL_rmnxrg.jpg"
        style="width:75%">
      
    </div>

  </div>
  <br>

  <div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>

 
</body>

{{!-- ! search button start --}}

<div class="centerbtn">
  <input type="text" id="searchInput" placeholder="Search..." />
  
 

  <button type="button " id="submitButton"
    class="rounded-md bg-indigo-600 py-1.5 px-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Search!</button>
</div>
    <div id="books-container"></div>

{{!-- !search Button end --}}

{{!-- ! create tables --}}


<!-- ! end of books -->


<script src="/js/google-books-api.js"></script>
<script src="/js/carousel.js"></script>

<link rel="stylesheet" href="public/css/input.css">
