<div class="bg-stone py-24 sm:py-32 center">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <img
      class="coming-soon"
      src="https://res.cloudinary.com/dm7phzl7a/image/upload/v1679878244/COMING_SOON_ax5fbt.png"
      alt=""
    />
  </div>
</div>

<link rel="stylesheet" href="/css/team.css" />