<div class="bg-stone py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-y-16 gap-x-8 sm:gap-y-24 lg:mx-0 lg:max-w-none lg:grid-cols-2"
    >
      <div class="lg:pr-4">
        <div
          class="relative overflow-hidden rounded-3xl bg-gray-900 px-6 pb-9 pt-64 shadow-2xl sm:px-12 lg:max-w-lg lg:px-8 lg:pb-8 xl:px-10 xl:pb-10"
        >
          <img
            class="absolute inset-0 h-full w-full object-cover brightness-125 saturate-100"
            src="https://res.cloudinary.com/dm7phzl7a/image/upload/v1679705696/LOGO_FORBIDDEN_BOOKSHELF_ehcefs.png"
            alt=""
          />
          
            <blockquote class="mt-6 text-xl font-semibold leading-8 text-white">
              <p>“Amet amet eget scelerisque tellus sit neque faucibus non
                eleifend. Integer eu praesent at a. Ornare arcu gravida natoque
                erat et cursus tortor.”</p>
            </blockquote>
            <figcaption class="mt-6 text-sm leading-6 text-gray-300"><strong
                class="font-semibold text-white"
              >Judith Rogers,</strong>
              CEO at Workcation</figcaption>
          </figure>
        </div>
      </div>
      <div>
        <div class="text-base leading-7 text-gray-700 lg:max-w-lg">
          <p class="text-base font-semibold leading-7 text-indigo-600">Easy to
            organize</p>
          <h1
            class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >Your bookshelf, everywhere you go</h1>
          <div class="max-w-xl">
            <p class="mt-6">At Forbidden Bookshelf, our mission is to empower
              book lovers everywhere by providing them with a platform to
              discover and explore new books, as well as create a personal book
              gallery to keep track of their reading journey. We believe that
              reading is a powerful tool for personal growth and development,
              and that everyone deserves access to high-quality literature that
              can expand their horizons and inspire them to reach their full
              potential.</p>
            <p class="mt-8">Through our curated selection of books and
              user-friendly platform, we aim to make it easy for readers of all
              ages and interests to find their next great read and build a
              personal library that reflects their unique taste and personality.</p>
            <p class="mt-8">Whether you're a lifelong bookworm or just getting
              started on your reading journey, Forbidden Bookshelf is your go-to
              destination for discovering new books and building a community of
              like-minded readers who share your passion for literature.</p>
          </div>
        </div>
        <dl
          class="mt-10 grid grid-cols-2 gap-8 border-t border-gray-900/10 pt-10 sm:grid-cols-4"
        >
          <div>
            <dt
              class="text-sm font-semibold leading-6 text-gray-600"
            >Founded</dt>
            <dd
              class="mt-2 text-3xl font-bold leading-10 tracking-tight text-gray-900"
            >2023</dd>
          </div>

          <div>
            <dt
              class="text-sm font-semibold leading-6 text-gray-600"
            >Employees</dt>
            <dd
              class="mt-2 text-3xl font-bold leading-10 tracking-tight text-gray-900"
            >5</dd>
          </div>

         
        </dl>
       
      </div>
    </div>
  </div>
</div>

<!-- ! end of content section-->
<!-- ! start of compnay text centered -->
<div class="bg-stone py-32 px-6 lg:px-8">
  <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
    <p class="text-base font-semibold leading-7 text-indigo-600">Introducing</p>
    <h1
      class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
    >The only bookshelf you need</h1>
    <p class="mt-6 text-xl leading-8">Our bookshelf platform offers the following benefits to our users:

    </p>
    <div class="mt-10 max-w-2xl">
      
      <ul role="list" class="mt-8 max-w-xl space-y-8 text-gray-600">
        <li class="flex gap-x-3">
          <svg
            class="mt-1 h-5 w-5 flex-none text-indigo-600"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span><strong class="font-semibold text-gray-900">Easy to use.</strong>
            Our platform is designed to be user-friendly, making it easy for you to navigate and manage your book collection. You can quickly add, remove, or organize your books with just a few clicks.</span>
        </li>
        <li class="flex gap-x-3">
          <svg
            class="mt-1 h-5 w-5 flex-none text-indigo-600"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span><strong class="font-semibold text-gray-900">Your bookshelf everywhere you go.</strong>
            With our cloud-based platform, you can access your book collection from any device, anywhere in the world. Whether you're at home, in the office, or on the go, you can always have your favorite books at your fingertips..</span>
        </li>
        <li class="flex gap-x-3">
          <svg
            class="mt-1 h-5 w-5 flex-none text-indigo-600"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span><strong class="font-semibold text-gray-900">Unlimited storage!</strong>
            Our platform offers unlimited storage for your books, so you never have to worry about running out of space. You can store as many books as you like, without ever having to delete anything..</span>
        </li>
      </ul>
      
      
      <p class="mt-6">

      In addition to offering an extensive selection of books, we also provide a platform for book lovers to connect and share their thoughts and experiences. Our community of readers is passionate about their favorite books, and we encourage lively discussions and debates on our forums and social media channels.

      So why not take a look around and discover your next favorite book? And don't forget to join the conversation and share your own thoughts and experiences with our community of readers.</p>
      <figure class="mt-10 border-l border-indigo-600 pl-9">
        <blockquote class="font-semibold text-gray-900">
          <p>“I stumbled upon this website and it has changed my reading game completely! With their vast gallery of books, I am always discovering new authors and genres that I never would have found on my own. I love the feature that allows me to save books to my personal gallery and keep track of my reading progress. Highly recommend!.”</p>
        </blockquote>
        <figcaption class="mt-6 flex gap-x-4">
          <img
            class="h-6 w-6 flex-none rounded-full bg-gray-50"
            src="https://res.cloudinary.com/dm7phzl7a/image/upload/v1679622355/cld-sample.jpg"
            alt=""
          />
          <div class="text-sm leading-6"><strong
              class="font-semibold text-gray-900"
            >Sarah W.</strong>
            – Sad bootcamp student</div>
        </figcaption>
      </figure>
      <figure class="mt-10 border-l border-indigo-600 pl-9">
        <blockquote class="font-semibold text-gray-900">
          <p>“I recently discovered this website and I am blown away by how much it has helped me in finding new books to read. The reviews are honest and well-written, and I love the variety of books available. The personalized book recommendations have been spot on and I've discovered some new favorite authors because of this website. Thank you for making my reading experience so much better!.”</p>
        </blockquote>
        <figcaption class="mt-6 flex gap-x-4">
          <img
            class="h-6 w-6 flex-none rounded-full bg-gray-50"
            src="https://res.cloudinary.com/dm7phzl7a/image/upload/v1679622335/samples/people/smiling-man.jpg"
            alt=""
          />
          <div class="text-sm leading-6"><strong
              class="font-semibold text-gray-900"
            >Enrique C.</strong>
            – Engineer</div>
        </figcaption>
      </figure>
      <figure class="mt-10 border-l border-indigo-600 pl-9">
        <blockquote class="font-semibold text-gray-900">
          <p>“As someone who is always on the go, I never have time to browse bookstores for new reads. This website has made finding new books so easy and convenient. The search function is incredibly helpful and the book summaries and reviews are so well-written. Thanks to this website, I always have a new book waiting for me on my nightstand.”</p>
        </blockquote>
        <figcaption class="mt-6 flex gap-x-4">
          <img
            class="h-6 w-6 flex-none rounded-full bg-gray-50"
            src="https://res.cloudinary.com/dm7phzl7a/image/upload/v1679622330/samples/people/kitchen-bar.jpg"
            alt=""
          />
          <div class="text-sm leading-6"><strong
              class="font-semibold text-gray-900"
            >Emmanuel A.</strong>
            – Marketing Manager</div>
        </figcaption>
      </figure>
      <figure class="mt-10 border-l border-indigo-600 pl-9">
        <blockquote class="font-semibold text-gray-900">
          <p>“I've tried other book-finding websites in the past, but this one is by far the best. The user interface is so user-friendly and the book recommendations are spot on. I also love the personalized gallery feature - it's like having my own virtual bookshelf! I've recommended this website to all of my book-loving friends.”</p>
        </blockquote>
        <figcaption class="mt-6 flex gap-x-4">
          <img
            class="h-6 w-6 flex-none rounded-full bg-gray-50"
            src="https://res.cloudinary.com/dm7phzl7a/image/upload/v1679622337/samples/bike.jpg"
            alt=""
          />
          <div class="text-sm leading-6"><strong
              class="font-semibold text-gray-900"
            >Maria Hill</strong>
            – Soccer Mom</div>
        </figcaption>
      </figure>
      {{!-- <p class="mt-10">Faucibus commodo massa rhoncus, volutpat. Dignissim sed
        eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id
        dolor praesent donec est. Odio penatibus risus viverra tellus varius sit
        neque erat velit.</p> --}}
    </div>
    
    </figure>
    
  </div>
</div>

<!-- ! end of compnay text centered -->
<!-- ! start of testimonials -->
<section class="isolate overflow-hidden bg-stone px-6 lg:px-8">
  <div class="relative mx-auto max-w-2xl py-24 sm:py-32 lg:max-w-4xl">
    <div
      class="absolute top-0 left-1/2 -z-10 h-[50rem] w-[90rem] -translate-x-1/2 bg-[radial-gradient(50%_100%_at_top,theme(colors.indigo.100),white)] opacity-20 lg:left-36"
    >
    </div>
    <div
      class="absolute inset-y-0 right-1/2 -z-10 mr-12 w-[150vw] origin-bottom-left skew-x-[-30deg] bg-stone shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:mr-20 md:mr-0 lg:right-full lg:-mr-36 lg:origin-center"
    >
    </div>
    <figure class="grid grid-cols-1 items-center gap-x-6 gap-y-8 lg:gap-x-10">
      <div class="relative col-span-2 lg:col-start-1 lg:row-start-2">
        <svg
          viewBox="0 0 162 128"
          fill="none"
          aria-hidden="true"
          class="absolute -top-12 left-0 -z-10 h-32 stroke-gray-900/10"
        >
          <path
            id="b56e9dab-6ccb-4d32-ad02-6b4bb5d9bbeb"
            d="M65.5697 118.507L65.8918 118.89C68.9503 116.314 71.367 113.253 73.1386 109.71C74.9162 106.155 75.8027 102.28 75.8027 98.0919C75.8027 94.237 75.16 90.6155 73.8708 87.2314C72.5851 83.8565 70.8137 80.9533 68.553 78.5292C66.4529 76.1079 63.9476 74.2482 61.0407 72.9536C58.2795 71.4949 55.276 70.767 52.0386 70.767C48.9935 70.767 46.4686 71.1668 44.4872 71.9924L44.4799 71.9955L44.4726 71.9988C42.7101 72.7999 41.1035 73.6831 39.6544 74.6492C38.2407 75.5916 36.8279 76.455 35.4159 77.2394L35.4047 77.2457L35.3938 77.2525C34.2318 77.9787 32.6713 78.3634 30.6736 78.3634C29.0405 78.3634 27.5131 77.2868 26.1274 74.8257C24.7483 72.2185 24.0519 69.2166 24.0519 65.8071C24.0519 60.0311 25.3782 54.4081 28.0373 48.9335C30.703 43.4454 34.3114 38.345 38.8667 33.6325C43.5812 28.761 49.0045 24.5159 55.1389 20.8979C60.1667 18.0071 65.4966 15.6179 71.1291 13.7305C73.8626 12.8145 75.8027 10.2968 75.8027 7.38572C75.8027 3.6497 72.6341 0.62247 68.8814 1.1527C61.1635 2.2432 53.7398 4.41426 46.6119 7.66522C37.5369 11.6459 29.5729 17.0612 22.7236 23.9105C16.0322 30.6019 10.618 38.4859 6.47981 47.558L6.47976 47.558L6.47682 47.5647C2.4901 56.6544 0.5 66.6148 0.5 77.4391C0.5 84.2996 1.61702 90.7679 3.85425 96.8404L3.8558 96.8445C6.08991 102.749 9.12394 108.02 12.959 112.654L12.959 112.654L12.9646 112.661C16.8027 117.138 21.2829 120.739 26.4034 123.459L26.4033 123.459L26.4144 123.465C31.5505 126.033 37.0873 127.316 43.0178 127.316C47.5035 127.316 51.6783 126.595 55.5376 125.148L55.5376 125.148L55.5477 125.144C59.5516 123.542 63.0052 121.456 65.9019 118.881L65.5697 118.507Z"
          ></path>
          <use href="#b56e9dab-6ccb-4d32-ad02-6b4bb5d9bbeb" x="86"></use>
        </svg>
        <blockquote
          class="text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9"
        >
          <p>I don't care about customer satisfaction, as long as our profits keep skyrocketing, we can sacrifice a few hundred souls to the corporate overlords every quarter. I love books, by the way.</p>
        </blockquote>
      </div>
      <div class="col-end-1 w-16 lg:row-span-4 lg:w-72">
        <img
          class="rounded-xl bg-indigo-50 lg:rounded-3xl"
          src="https://res.cloudinary.com/dm7phzl7a/image/upload/v1679877015/file_tkqav7.jpg"
          alt=""
        />
      </div>
      <figcaption class="text-base lg:col-start-1 lg:row-start-3">
        <div class="font-semibold text-gray-900">Salvador Espinosa</div>
        <div class="mt-1 text-gray-500">CEO of ForbiddenBookshelf</div>
      </figcaption>
    </figure>
  </div>
</section>