<!-- ! start of FAQS -->
<div class="bg-stone">
  <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:py-40 lg:px-8">
    <div class="mx-auto max-w-4xl divide-y divide-gray-900/10">
      <h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">
        Frequently asked questions
      </h2>
      <dl class="mt-10 space-y-6 divide-y divide-gray-900/10">
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-0"
              aria-expanded="false"
            >
              <span class="text-base font-semibold leading-7">What is the Google
                Books API and how does it work in our online library?
              </span>
              <span class="ml-6 flex h-7 items-center">
                <!--
                      Icon when question is collapsed.
    
                      Item expanded: "hidden", Item collapsed: ""
                    -->
                <svg
                  class="h-6 w-6 collapse-icon"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"
                  ></path>
                </svg>
                <!--
                      Icon when question is expanded.
    
                      Item expanded: "", Item collapsed: "hidden"
                    -->
                <svg
                  class="hidden h-6 w-6 expand-icon"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M18 12H6"
                  ></path>
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-0">
            <p class="text-base leading-7 text-gray-600">
              The Google Books API is an interface provided by Google that
              allows access to the data and functionality of the Google Books
              service. It works in an online library by enabling users to search
              for and retrieve information about books, including their titles,
              authors, descriptions, and other metadata.
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-0"
              aria-expanded="false"
            >
              <span class="text-base font-semibold leading-7">How can I search
                for a book?</span>
              <span class="ml-6 flex h-7 items-center">
                <!--
                      Icon when question is collapsed.
    
                      Item expanded: "hidden", Item collapsed: ""
                    -->
                <svg
                  class="h-6 w-6 collapse-icon"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"
                  ></path>
                </svg>
                <!--
                      Icon when question is expanded.
    
                      Item expanded: "", Item collapsed: "hidden"
                    -->
                <svg
                  class="hidden h-6 w-6 expand-icon"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M18 12H6"
                  ></path>
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-0">
            <p class="text-base leading-7 text-gray-600">
              To search for a book, users can enter keywords, titles, authors,
              or ISBNs into the search bar and click the search button. The
              library's search engine will then return a list of books that
              match the search criteria.
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-0"
              aria-expanded="false"
            >
              <span class="text-base font-semibold leading-7">What type of
                information is displayed about each book?</span>
              <span class="ml-6 flex h-7 items-center">
                <!--
                      Icon when question is collapsed.
    
                      Item expanded: "hidden", Item collapsed: ""
                    -->
                <svg
                  class="h-6 w-6 collapse-icon"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"
                  ></path>
                </svg>
                <!--
                      Icon when question is expanded.
    
                      Item expanded: "", Item collapsed: "hidden"
                    -->
                <svg
                  class="hidden h-6 w-6 expand-icon"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M18 12H6"
                  ></path>
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-0">
            <p class="text-base leading-7 text-gray-600">
              The type of information displayed about each book includes the
              book's title, author, publication date, description, and cover
              image.
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-0"
              aria-expanded="false"
            >
              <span class="text-base font-semibold leading-7">
                Can I preview a book before deciding to add it to my collection?
              </span>
              <span class="ml-6 flex h-7 items-center">
                <!--
                      Icon when question is collapsed.
    
                      Item expanded: "hidden", Item collapsed: ""
                    -->
                <svg
                  class="h-6 w-6 collapse-icon"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"
                  ></path>
                </svg>
                <!--
                      Icon when question is expanded.
    
                      Item expanded: "", Item collapsed: "hidden"
                    -->
                <svg
                  class="hidden h-6 w-6 expand-icon"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M18 12H6"
                  ></path>
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-0">
            <p class="text-base leading-7 text-gray-600">
              Users can only see the description of the book.
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-0"
              aria-expanded="false"
            >
              <span class="text-base font-semibold leading-7">How can I add a
                book to my personal collection in the online library?</span>
              <span class="ml-6 flex h-7 items-center">
                <!--
                      Icon when question is collapsed.
    
                      Item expanded: "hidden", Item collapsed: ""
                    -->
                <svg
                  class="h-6 w-6 collapse-icon"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"
                  ></path>
                </svg>
                <!--
                      Icon when question is expanded.
    
                      Item expanded: "", Item collapsed: "hidden"
                    -->
                <svg
                  class="hidden h-6 w-6 expand-icon"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M18 12H6"
                  ></path>
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-0">
            <p class="text-base leading-7 text-gray-600">
              To add a book to their personal collection in the online library,
              users can click on the "Add to Collection" button next to the book
              they want to add. They will then be prompted to log in to their
              account, or create one if they don't already have one.
            </p>
          </dd>
        </div>

        <!-- More questions... -->
      </dl>
    </div>
  </div>
</div>

<!-- ! end of FAQS -->

<script>
  document.addEventListener("DOMContentLoaded", () => { const faqButtons =
  document.querySelectorAll("button[aria-controls]");
  faqButtons.forEach((button) => { button.addEventListener("click", (event) => {
  const targetId = event.currentTarget.getAttribute("aria-controls"); const
  targetElement = document.getElementById(targetId); const isExpanded =
  event.currentTarget.getAttribute("aria-expanded") === "true"; // Expandir o
  colapsar el contenido de la pregunta targetElement.style.display = isExpanded
  ? "none" : "block"; // Cambiar el atributo aria-expanded
  event.currentTarget.setAttribute("aria-expanded", !isExpanded); // Cambiar la
  visibilidad del ícono de colapso const collapseIcon =
  event.currentTarget.querySelector(".collapse-icon"); const expandIcon =
  event.currentTarget.querySelector(".expand-icon");
  collapseIcon.classList.toggle("hidden");
  expandIcon.classList.toggle("hidden"); }); }); });

</script>