<body class="bg-stone">
  <div class="bg-stone center fatbtn">
    <button type="button" id="showHistory"
      class="bg-indigo-600 py-1.5 px-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
      History
    </button>
    <div id="books-container"></div>
  </div>

  <script src="/js/database-books.js"></script>
  <link rel="stylesheet" href="/css/input.css">
</body>
