<div class="bg-stone py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Our team
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        We’re a dynamic group of individuals who are passionate about what we do
        and dedicated to delivering the best results for our clients.
      </p>
    </div>
    <ul
      role="list"
      class="team-list mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      <!-- Team member 1 -->
      <li class="team-member">
        <img
          class="team-member-img"
          src="https://res.cloudinary.com/dm7phzl7a/image/upload/v1679877550/2023-03-26_18_38_07-Forbidden_Bookshelf_uwoodi.png"
          alt=""
        />
        <div>
          <h3 class="team-member-name">
            Francisco Javier Monteon Avila
          </h3>
          <p class="team-member-role">
            GitHub: MonteonFrank
          </p>
          <ul role="list" class="team-member-icons">
            <!-- ... -->
          </ul>
        </div>
      </li>
      <!-- Team member 2 -->
      <li class="team-member">
        <img
          class="team-member-img"
          src="https://res.cloudinary.com/dm7phzl7a/image/upload/v1679877015/fd52c199-a263-478b-8a1f-1c56e27ac6fa_vlmkqu.jpg"
          alt=""
        />
        <div>
          <h3 class="team-member-name">
            Angelina Huerta Cortez
          </h3>
          <p class="team-member-role">
            GitHub: TenshiAngelina
          </p>
          <ul role="list" class="team-member-icons">
            <!-- ... -->
          </ul>
        </div>
      </li>
      <!-- Add more team members here -->
      <li class="team-member">
        <img
          class="team-member-img"
          src="https://res.cloudinary.com/dm7phzl7a/image/upload/v1679877550/2023-03-26_18_38_01-Forbidden_Bookshelf_dor43e.png"
          alt=""
        />
        <div>
          <h3 class="team-member-name">
            Saul Wade
          </h3>
          <p class="team-member-role">
            GitHub: saulwade29
          </p>
          <ul role="list" class="team-member-icons">
            <!-- ... -->
          </ul>
        </div>
      </li>
      <li class="team-member">
        <img
          class="team-member-img"
          src="https://res.cloudinary.com/dm7phzl7a/image/upload/v1679877550/00381b7e-0593-4607-a293-b958cd422b61_bsiznd.jpg"
          alt=""
        />
        <div>
          <h3 class="team-member-name">
            Aaron Agraz Huitron
          </h3>
          <p class="team-member-role">
            Github: TheBigMotif
          </p>
          <ul role="list" class="team-member-icons">
            <!-- ... -->
          </ul>
        </div>
      </li>
      <li class="team-member">
        <img
          class="team-member-img"
          src="https://res.cloudinary.com/dm7phzl7a/image/upload/v1679877015/file_tkqav7.jpg"
          alt=""
        />
        <div>
          <h3 class="team-member-name">
            Salvador Espinosa
          </h3>
          <p class="team-member-role">
            GitHub: EspinosaSalvador
          </p>
          <ul role="list" class="team-member-icons">
            <!-- ... -->
          </ul>
        </div>
      </li>
    </ul>
      
  </div>
</div>

<link rel="stylesheet" href="/css/team.css" />