<div class="bg-stone py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Our team
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        We’re a dynamic group of individuals who are passionate about what we do
        and dedicated to delivering the best results for our clients.
      </p>
    </div>
    <ul role="list"
      class="team-list mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <!-- Team member 1 -->
      <li class="team-member">
        <img class="team-member-img"
          src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
          alt="" />
        <div>
          <h3 class="team-member-name">
            Francisco Javier Monteon Avila
          </h3>
          <p class="team-member-role">
            Full-Stack-Web-Developer
          </p>
          <ul role="list" class="team-member-icons">
            <!-- ... -->
          </ul>
        </div>
      </li>
      <!-- Team member 2 -->
      <li class="team-member">
        <img class="team-member-img"
          src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=4&w=1024&h=1024&q=80"
          alt="" />
        <div>
          <h3 class="team-member-name">
            Angelina Huerta Cortez
          </h3>
          <p class="team-member-role">
            Full-Stack-Web-Developer
          </p>
          <ul role="list" class="team-member-icons">
            <!-- ... -->
          </ul>
        </div>
      </li>
      <!-- Add more team members here -->
      <li class="team-member">
        <img class="team-member-img"
          src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=4&w=1024&h=1024&q=80"
          alt="" />
        <div>
          <h3 class="team-member-name">
            Saul Wade
          </h3>
          <p class="team-member-role">
            Full-Stack-Web-Developer
          </p>
          <ul role="list" class="team-member-icons">
            <!-- ... -->
          </ul>
        </div>
      </li>
      <li class="team-member">
        <img class="team-member-img"
          src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=4&w=1024&h=1024&q=80"
          alt="" />
        <div>
          <h3 class="team-member-name">
            Aaron Agraz Huitron
          </h3>
          <p class="team-member-role">
            Full-Stack-Web-Developer
          </p>
          <ul role="list" class="team-member-icons">
            <!-- ... -->
          </ul>
        </div>
      </li>
      <li class="team-member">
        <img class="team-member-img"
          src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=4&w=1024&h=1024&q=80"
          alt="" />
        <div>
          <h3 class="team-member-name">
            Salvador Espinosa
          </h3>
          <p class="team-member-role">
            Full-Stack-Web-Developer
          </p>
          <ul role="list" class="team-member-icons">
            <!-- ... -->
          </ul>
        </div>
      </li>
    </ul>
      
  </div>
</div>

<link rel="stylesheet" href="/css/team.css">